In [1]:
import pandas as pd
import numpy as np

In [2]:
movement_data = pd.read_csv('./movement.csv')

In [3]:
movement_data.columns

Index(['movement_id', 'account_company', 'new_movementreason', 'new_species',
       'new_originaddress', 'new_origincity', 'new_originname',
       'new_originpostalcode', 'new_originpremid', 'new_originstate',
       'new_destinationaddress', 'new_destinationcity', 'new_destinationname',
       'new_destinationpostalcode', 'new_destinationpremid',
       'new_destinationstate', 'origin_Lat', 'origin_Lon', 'destination_Lat',
       'destination_Long', 'new_numitemsmoved', 'new_shipmentsstartdate'],
      dtype='object')

In [4]:
movement_data.head()

,movement_id,account_company,new_movementreason,new_species,new_originaddress,new_origincity,new_originname,new_originpostalcode,new_originpremid,new_originstate,...,new_destinationname,new_destinationpostalcode,new_destinationpremid,new_destinationstate,origin_Lat,origin_Lon,destination_Lat,destination_Long,new_numitemsmoved,new_shipmentsstartdate
0,1,Mypigcompany,FINISH TO FINISH,Swine,"163, fake Street",Carthage,my_farm_name_B,62321,376DQUF,IL,...,my_farm_name_L,50475,778EYUX,IA,42.04312,-94.73784,46.38174,-92.14026,1000,18-04-11
1,2,Mypigcompany,SOW TO FINISH,Swine,"677, fake Street",Edison,my_farm_name_C,68936,088WKFT,NE,...,my_farm_name_R,50583,464KBIF,IA,41.99145,-103.34611,46.07227,-93.91527,1000,18-04-11
2,3,Mypigcompany,SOW TO NURSERY,Swine,"154, fake Street",Bethany,my_farm_name_J,64424,225ZGAJ,MO,...,my_farm_name_K,51006,477EDVX,IA,41.90538,-97.56184,45.88508,-94.49498,1000,18-04-11
3,4,Mypigcompany,WTF TO FINISH,Swine,"707, fake Street",Clay Center,my_farm_name_B,68933,180UCBY,NE,...,my_farm_name_M,50574,611ULSK,IA,42.10786,-101.59227,46.36619,-93.63721,1000,18-04-11
4,5,Mypigcompany,WTF TO FINISH,Swine,"217, fake Street",Albion,my_farm_name_E,46701,582PHBR,IN,...,my_farm_name_S,46794,027RDXY,IN,42.97002,-88.94877,45.03986,-84.37985,1000,18-04-11

In [10]:
population_data = pd.read_csv('./population.csv')
population_data.head()

   population_id premiseid  total_animal
0              1   376DQUF          1000
1              2   088WKFT          1000
2              3   225ZGAJ          1000
3              4   180UCBY          1000
4              5   582PHBR          1000

In [11]:
all_farms = []
for index, row in movement_data.iterrows():
    farm1 = {
        'farm_st_no': row['new_originaddress'].split(',')[0],
        'farm_st_name': row['new_originaddress'].split(',')[1],
        'farm_city': row['new_origincity'],
        'farm_name': row['new_originname'],
        'farm_postal_code': row['new_originpostalcode'],
        'farm_prem_id': row['new_originpremid'],
        'farm_state': row['new_originstate'],
        'farm_lat': row['origin_Lat'],
        'farm_lon': row['origin_Lon'],
    }
    farm2 = {
        'farm_st_no': row['new_destinationaddress'].split(',')[0],
        'farm_st_name': row['new_destinationaddress'].split(',')[1],
        'farm_city': row['new_destinationcity'],
        'farm_name': row['new_destinationname'],
        'farm_postal_code': row['new_destinationpostalcode'],
        'farm_prem_id': row['new_destinationpremid'],
        'farm_state': row['new_destinationstate'],
        'farm_lat': row['destination_Lat'],
        'farm_lon': row['destination_Long'],
    }    
    all_farms.append(farm1)
    all_farms.append(farm2)
    
unique_farms = []
for index, farm in enumerate(list({v['farm_prem_id']:v for v in all_farms}.values())):
    farm['farm_id'] = index + 1
    unique_farms.append(farm)

In [13]:
farm_data = pd.DataFrame(unique_farms)
farm_data.head(20)

,farm_st_no,farm_st_name,farm_city,farm_name,farm_postal_code,farm_prem_id,farm_state,farm_lat,farm_lon,farm_id
0,163,fake Street,Carthage,my_farm_name_B,62321,376DQUF,IL,42.043120,-94.737840,1
1,743,fake Street,Sheffield,my_farm_name_L,50475,778EYUX,IA,46.381740,-92.140260,2
2,677,fake Street,Edison,my_farm_name_C,68936,088WKFT,NE,41.991450,-103.346110,3
3,733,fake Street,Sac City,my_farm_name_R,50583,464KBIF,IA,46.072270,-93.915270,4
4,154,fake Street,Bethany,my_farm_name_J,64424,225ZGAJ,MO,41.905380,-97.561840,5
5,028,fake Street,Battle Creek,my_farm_name_K,51006,477EDVX,IA,45.885080,-94.494980,6
6,707,fake Street,Clay Center,my_farm_name_B,68933,180UCBY,NE,42.107860,-101.592270,7
7,112,fake Street,Havelock,my_farm_name_M,50574,611ULSK,IA,46.366190,-93.637210,8
8,217,fake Street,Albion,my_farm_name_E,46701,582PHBR,IN,42.970020,-88.948770,9
9,012,fake Street,Wawaka,my_farm_name_S,46794,027RDXY,IN,45.039860,-84.379850,10
10,308,fake Street,Hampton,my_farm_name_I,50441,360FDCZ,IA,44.332650,-96.683340,11
11,834,fake Street,Fonda,my_farm_name_S,50540,220FAPG,IA,46.222640,-93.768490,12
12,026,fake Street,Shelby,my_farm_name_C,51570,733DTME,IA,43.071020,-99.019410,13
13,058,fake Street,Ute,my_farm_name_O,51060,554DGRT,IA,45.533240,-94.591970,14
14,813,fake Street,Edison,my_farm_name_H,68936,715ELOH,NE,41.871430,-103.339810,15
15,550,fake Street,Edison,my_farm_name_R,68936,853OBOV,NE,43.800990,-98.724750,16
16,582,fake Street,Pittsfield,my_farm_name_B,62363,325UDIW,IL,41.082900,-94.310400,17
17,846,fake Street,Altona,my_farm_name_Q,61414,453YIAE,IL,44.676190,-89.017490,18
18,501,fake Street,Leopold,my_farm_name_J,47551,671HMJV,IN,39.671770,-90.095490,19
19,613,fake Street,Flat Rock,my_farm_name_T,62427,730AOYL,IL,42.391528,-86.477042,20

In [36]:
movement_normalized = movement_data.drop(columns=[
    'new_originaddress',
    'new_origincity',
    'new_originname',
    'new_originpostalcode',
    'new_originstate',
    'origin_Lat',
    'origin_Lon',
    
    'new_destinationaddress',
    'new_destinationcity',
    'new_destinationname',
    'new_destinationpostalcode',
    'new_destinationstate',
    'destination_Lat',
    'destination_Long',    
], axis=1)
movement_normalized.head(20)

,movement_id,account_company,new_movementreason,new_species,new_originpremid,new_destinationpremid,new_numitemsmoved,new_shipmentsstartdate
0,1,Mypigcompany,FINISH TO FINISH,Swine,376DQUF,778EYUX,1000,18-04-11
1,2,Mypigcompany,SOW TO FINISH,Swine,088WKFT,464KBIF,1000,18-04-11
2,3,Mypigcompany,SOW TO NURSERY,Swine,225ZGAJ,477EDVX,1000,18-04-11
3,4,Mypigcompany,WTF TO FINISH,Swine,180UCBY,611ULSK,1000,18-04-11
4,5,Mypigcompany,WTF TO FINISH,Swine,582PHBR,027RDXY,1000,18-04-11
5,6,Mypigcompany,FINISH TO FINISH,Swine,360FDCZ,220FAPG,1000,18-04-11
6,7,Mypigcompany,WTF TO FINISH,Swine,733DTME,554DGRT,1000,18-04-11
7,8,Mypigcompany,SOW TO NURSERY,Swine,715ELOH,853OBOV,1000,18-04-11
8,9,Mypigcompany,SOW TO WTF,Swine,325UDIW,453YIAE,1000,18-04-11
9,10,Mypigcompany,SOW TO FINISH,Swine,671HMJV,730AOYL,1000,18-04-11

In [14]:
movement_normalized.to_csv('movement_norm.csv', index=False)
farm_data.to_csv('farm.csv', index=False)